/*
 * Override Foundation 5 styles
 */
//font
$font-weight-normal: 300;
$body-font-weight: $font-weight-normal;
$body-font-style: inherit;

$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: 0.75rem;
$h6-font-size: 0.5rem;

$topbar-bg-color: $base-color;
$topbar-bg: $base-color;
$topbar-dropdown-bg: $base-color;

$anchor-font-color: $base-text-color;
