/*
 * Flat UI
 * source: https://kuler.adobe.com/Flat-UI-color-theme-2469224/
 */
$base-color            : #2C3E50;
$base-background-color : #3498DB;
$base-background       : #2980B9;
$base-text-color       : #ECF0F1;
$button-base-color     : #E74C3C;

/*
 * Font
 */
$base-font-family : 'Open Sans', sans-serif;
$base-font-size   : 1rem;
$base-line-heigh  : 1.6;
