<footer id="ub-footer">
  <div class="row">
    <div class="large-12 text-center ub-block">
      <section class="copyright">
        All content copyright
        <a href="{{@blog.url}}/">&copy;{{date format="YYYY"}} {{@blog.title}}</a>
        &bull; All rights reserved.
      </section>
      <section class="poweredby">
        Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a>
        on <a class="rackspace" href="https://www.rackspace.com">
        <i class="fa fa-cloud">Rackspace Cloud</i></a>
      </section>
    </div>
  </div>
</footer>