<div id="ub_disqus" class="row">
  <div class="small-12 ub-block">
    <div id="disqus_thread">
      <a class="button small radius" href="#" onclick="atPost.loadDisqus();return false;"><span class="fa fa-comments"></span> Discuss</a>
    </div>
  </div>
</div>